<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<title>充值</title>
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/style.css?2">
</head>
<body>
	<div class="menu-wrap">
		<div class="menu">
			<ul>
				<li id="buyfruit" class="left active">
					<a href="index.html">
						<i></i>
						<span>首页</span>
					</a>
				</li>
				<li id="prebuy" class="left">
					<a href="buyfruit.html">
						<i></i>
						<span>选购</span>
					</a>
				</li>
				<li id="myorder" class="left">
					<a href="myorder.html">
						<i></i>
						<span>订单</span>
					</a>
				</li>
				<li id="shopbasket" class="left">
					<a href="basket.html">
						<i class="basket-number">
							<span class="type-total">2</span>
						</i>
						<span>购物篮</span>
					</a>
				</li>
			</ul>
		</div>
		<div class="clearfix"><!-- hotfix-点击a背景边框高亮偏移bug --></div>
	</div>

	<div class="comment">
		<span class="line"></span>
		<div class="comment-item">
			<div class="star-wrap">
				<span class="icon-rule"></span>
				<span>充值规则</span>
			</div>
			<div class="cmt-content charge-wrap">
				<p>   为了答谢回馈会员，特制定以下会员充值规则：  </p>
				<p>充100得120</p>
				<p>充200得250</p>
			</div>
			<div class="star-wrap">
				<span class="icon-charge"></span>
				<span>充值金额</span>
			</div>
			<div class="money-wrap">
				充值<input type="text" name="money">元
			</div>
		</div>

		<button type="submit" class="charge-btn">去支付宝充值</button>
	</div>
</body>
</html>