<!doctype html>
<html lang="en">
<head>
	<title>历史清单</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,user-scalable=no" />
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/style.css?1">
</head>
<body>
	<div class="menu-wrap">
		<div class="menu">
			<ul>
				<li id="buyfruit" class="left active">
					<a href="index.html">
						<i></i>
						<span>首页</span>
					</a>
				</li>
				<li id="prebuy" class="left">
					<a href="buyfruit.html">
						<i></i>
						<span>选购</span>
					</a>
				</li>
				<li id="myorder" class="left">
					<a href="myorder.html">
						<i></i>
						<span>订单</span>
					</a>
				</li>
				<li id="shopbasket" class="left">
					<a href="basket.html">
						<i class="basket-number">
							<span class="type-total">2</span>
						</i>
						<span>购物篮</span>
					</a>
				</li>
			</ul>
		</div>
		<div class="clearfix"><!-- hotfix-点击a背景边框高亮偏移bug --></div>
	</div>
	<div class="index-bar">
		<div class="index-bar-btn left2"></div>
		历史清单
		<div class="index-bar-btn right2"></div>
	</div>
	<div class="history-item">
		<div class="history-item-time">2014-07-04 21:37:19</div>
		<div class="history-item-bar">
			<img class="history-item-bar-pic" src="./pic/fruit1.png"/>
			<div class="history-item-bar-text">
				<div class="history-item-bar-text-item fruitname">早春红玉</div>
				<div class="history-item-bar-text-item buyway">按个销售</div><br/>
				<div class="history-item-bar-text-item pay">￥ 5.2 </div>
				<div class="history-item-bar-text-item unit">/斤</div>
			</div>
		</div>
		<div class="history-item-bar">
			<img class="history-item-bar-pic" src="./pic/fruit1.png"/>
			<div class="history-item-bar-text">
				<div class="history-item-bar-text-item fruitname">早春红玉</div>
				<div class="history-item-bar-text-item buyway">按个销售</div><br/>
				<div class="history-item-bar-text-item pay">￥ 5.2 </div>
				<div class="history-item-bar-text-item unit">/斤</div>
			</div>
		</div>
		<div class="history-item-inf">
			<div class="history-item-inf-text">
				数量 : 2<br/>
				总价 : ￥ 6.8
			</div>
			<div class="history-item-inf-btn">评价</div>
		</div>
	</div>
	<div class="history-item-line"></div>
	<div class="history-blank"></div>
	<script src="js/jquery.min.js"></script>
	<script src="js/script.js"></script>
</body>
</html>