<!doctype html>
<html lang="en">
<head>
	<title>购买水果</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,user-scalable=no" />
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/style.css?1">
</head>
<body>
	<div class="menu-wrap">
		<div class="menu">
			<ul>
				<li id="buyfruit" class="left">
					<a href="index.html">
						<i></i>
						<span>首页</span>
					</a>
				</li>
				<li id="prebuy" class="left active">
					<a href="buyfruit.html">
						<i></i>
						<span>选购</span>
					</a>
				</li>
				<li id="myorder" class="left">
					<a href="myorder.html">
						<i></i>
						<span>订单</span>
					</a>
				</li>
				<li id="shopbasket" class="left">
					<a href="basket.html">
						<i class="basket-number">
							<span class="type-total">2</span>
						</i>
						<span>购物篮</span>
					</a>
				</li>
			</ul>
		</div>
		<div class="clearfix"><!-- hotfix-点击a背景边框高亮偏移bug --></div>
	</div>
	<div class="index-bar">
		<div class="index-bar-btn left2"></div>
		购买水果
		<div class="index-bar-btn right2"></div>
	</div>
	<div class="buyfruit-item">
		<div class="setmeal-item">
			<img class="buyfruit-item-pic" src="./pic/fruit1.png"/>
			<div class="setmeal-item-pic-new">新</div>
			<div class="setmeal-item-right">
				<div class="setmeal-item-right-name">沁凉避暑</div>
				<div class="setmeal-item-right-popularity">人气:90</div>
				<div class="setmeal-item-right-inf">详情：本西瓜瓤红脆口></div><br/>
				<div class="buyfruit-item-text">186  评价     16  粉丝</div>
			</div>
		</div>
		<div class="buyfruit-item-downnoshow" id="no-show1">
			<div class="buyfruit-item-changebar" >
				<div class="buyfruit-item-changebar-icon up"></div>
			</div>
		</div>
		<div class="buyfruit-item-downshow" id="show1">
			<div class="buyfruit-item-changebar" >
				<div class="buyfruit-item-changebar-icon down"></div>
			</div>
			<div class="buyfruit-item-downshow-item">
				<div class="buyfruit-item-downshow-item-small checked" id="show1-item1">
					<div class="buyfruit-item-downshow-item-small-text">早春红玉1</div>
					<div class="buyfruit-item-downshow-item-small-down">
						<div class="buyfruit-item-downshow-item-small-icon"></div>
						<div class="buyfruit-item-downshow-item-small-smalltext">40</div>
					</div>
				</div>
				<div class="buyfruit-item-downshow-item-small" id="show1-item2">
					<div class="buyfruit-item-downshow-item-small-text">早春红玉2</div>
					<div class="buyfruit-item-downshow-item-small-down">
						<div class="buyfruit-item-downshow-item-small-icon"></div>
						<div class="buyfruit-item-downshow-item-small-smalltext">40</div>
					</div>
				</div>
				<div class="buyfruit-item-downshow-item-small" id="show1-item3">
					<div class="buyfruit-item-downshow-item-small-text">早春红玉3</div>
					<div class="buyfruit-item-downshow-item-small-down">
						<div class="buyfruit-item-downshow-item-small-icon"></div>
						<div class="buyfruit-item-downshow-item-small-smalltext">40</div>
					</div>
				</div>
				<div class="buyfruit-item-downshow-item-small last" id="show1-item4">
					<div class="buyfruit-item-downshow-item-small-text">早春红玉4</div>
					<div class="buyfruit-item-downshow-item-small-down">
						<div class="buyfruit-item-downshow-item-small-icon"></div>
						<div class="buyfruit-item-downshow-item-small-smalltext">40</div>
					</div>
				</div>
			</div>	
			<div class="buyfruit-item-downshow-item2 show" id="show1-item1-content">
				<img class="buyfruit-item-downshow-item2-pic" src="./pic/fruit1.png"/>
				<div class="buyfruit-item-downshow-item2-righttext">
					<div class="buyfruit-item-downshow-item2-name">早春红玉1</div>
					<div class="buyfruit-item-downshow-item2-buyway">按个销售</div>
					<div class="buyfruit-item-downshow-item2-moneyandunit">
						<div class="buyfruit-item-downshow-item2-money">￥5.2</div>
						<div class="buyfruit-item-downshow-item2-unit">/斤</div>
					</div>
				</div>
				<div class="buyfruit-item-downshow-item2-btn" id="show1-item1-btn">
					<div class="buyfruit-item-downshow-item2-minus">-</div>
					<div class="buyfruit-item-downshow-item2-number" id="show1-item1-btn-number">0</div>
					<div class="buyfruit-item-downshow-item2-add">+</div>
				</div>
			</div>
			<div class="buyfruit-item-downshow-item2" id="show1-item2-content">
				<img class="buyfruit-item-downshow-item2-pic" src="./pic/fruit1.png"/>
				<div class="buyfruit-item-downshow-item2-righttext">
					<div class="buyfruit-item-downshow-item2-name">早春红玉2</div>
					<div class="buyfruit-item-downshow-item2-buyway">按个销售</div>
					<div class="buyfruit-item-downshow-item2-moneyandunit">
						<div class="buyfruit-item-downshow-item2-money">￥5.2</div>
						<div class="buyfruit-item-downshow-item2-unit">/斤</div>
					</div>
				</div>
				<div class="buyfruit-item-downshow-item2-btn" id="show1-item2-btn">
					<div class="buyfruit-item-downshow-item2-minus">-</div>
					<div class="buyfruit-item-downshow-item2-number" id="show1-item2-btn-number">0</div>
					<div class="buyfruit-item-downshow-item2-add">+</div>
				</div>
			</div>
			<div class="buyfruit-item-downshow-item2" id="show1-item3-content">
				<img class="buyfruit-item-downshow-item2-pic" src="./pic/fruit1.png"/>
				<div class="buyfruit-item-downshow-item2-righttext">
					<div class="buyfruit-item-downshow-item2-name">早春红玉3</div>
					<div class="buyfruit-item-downshow-item2-buyway">按个销售</div>
					<div class="buyfruit-item-downshow-item2-moneyandunit">
						<div class="buyfruit-item-downshow-item2-money">￥5.2</div>
						<div class="buyfruit-item-downshow-item2-unit">/斤</div>
					</div>
				</div>
				<div class="buyfruit-item-downshow-item2-btn" id="show1-item3-btn">
					<div class="buyfruit-item-downshow-item2-minus">-</div>
					<div class="buyfruit-item-downshow-item2-number" id="show1-item3-btn-number">0</div>
					<div class="buyfruit-item-downshow-item2-add">+</div>
				</div>
			</div>
			<div class="buyfruit-item-downshow-item2" id="show1-item4-content">
				<img class="buyfruit-item-downshow-item2-pic" src="./pic/fruit1.png"/>
				<div class="buyfruit-item-downshow-item2-righttext">
					<div class="buyfruit-item-downshow-item2-name">早春红玉4</div>
					<div class="buyfruit-item-downshow-item2-buyway">按个销售</div>
					<div class="buyfruit-item-downshow-item2-moneyandunit">
						<div class="buyfruit-item-downshow-item2-money">￥5.2</div>
						<div class="buyfruit-item-downshow-item2-unit">/斤</div>
					</div>
				</div>
				<div class="buyfruit-item-downshow-item2-btn" id="show1-item4-btn">
					<div class="buyfruit-item-downshow-item2-minus">-</div>
					<div class="buyfruit-item-downshow-item2-number" id="show1-item4-btn-number">0</div>
					<div class="buyfruit-item-downshow-item2-add">+</div>
				</div>
			</div>
		</div>
	</div>
	<div class="privilege-bottom-bar">
		<div class="privilege-bottom-bar-text">
			已选：1  总计：¥ 9.2
		</div>
		<div class="privilege-bottom-bar-btn">
			选好了
		</div>
	</div>
	<script src="js/jquery.min.js"></script>
	<script src="js/script.js"></script>
</body>
</html>