<!doctype html>
<html lang="en">
<head>
	<title>预购</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,user-scalable=no" />
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/style.css?1">
</head>
<body>
	<div class="menu-wrap">
		<div class="menu">
			<ul>
				<li id="buyfruit" class="left active">
					<a href="index.html">
						<i></i>
						<span>首页</span>
					</a>
				</li>
				<li id="prebuy" class="left">
					<a href="buyfruit.html">
						<i></i>
						<span>选购</span>
					</a>
				</li>
				<li id="myorder" class="left">
					<a href="myorder.html">
						<i></i>
						<span>订单</span>
					</a>
				</li>
				<li id="shopbasket" class="left">
					<a href="basket.html">
						<i class="basket-number">
							<span class="type-total">2</span>
						</i>
						<span>购物篮</span>
					</a>
				</li>
			</ul>
		</div>
		<div class="clearfix"><!-- hotfix-点击a背景边框高亮偏移bug --></div>
	</div>
	<div class="index-bar">
		<div class="index-bar-btn left2"></div>
		优惠活动
		<div class="index-bar-btn right2"></div>
	</div>
	<div></div>
	<div class="privilege-item">
		<div class="privilege-item-pic"></div>
		<div class="privilege-item-txt">
			已有 60 人预购  7月8日发货
		</div>
		<div class="privilege-item-inf">
			<div class="privilege-item-inf-left">
				<div class="privilege-item-inf-icon"></div>
				<div class="privilege-item-inf-name">烟台大樱桃</div>
				<div class="privilege-item-inf-buyway">按箱销售</div><br/>
				<div class="privilege-item-inf-moneyandunit">
					<div class="privilege-item-inf-money">9.2</div>
					<div class="privilege-item-inf-unit">/份</div>
				</div>
			</div>
			<div class="privilege-item-inf-right" id="privilege-item1">
				<div class="privilege-item-inf-right-minus">-</div>
				<div class="privilege-item-inf-right-number" id="privilege-item1-number">1</div>
				<div class="privilege-item-inf-right-add">+</div>
			</div>
		</div>
		<div class="privilege-item-line"></div>
	</div>
	<div class="selectfruit-blank"></div>
	<div class="privilege-bottom-bar">
		<div class="privilege-bottom-bar-text">
			已选：1  总计：¥ 9.2
		</div>
		<div class="privilege-bottom-bar-btn">
			立刻抢购
		</div>
	</div>
	<script src="js/jquery.min.js"></script>
	<script src="js/script.js"></script>
</body>
</html>