<!doctype html>
<html lang="en">
<head>
	<title>选择水果</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,user-scalable=no" />
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/style.css?1">
</head>
<body>
	<div class="menu-wrap">
		<div class="menu">
			<ul>
				<li id="buyfruit" class="left active">
					<a href="index.html">
						<i></i>
						<span>首页</span>
					</a>
				</li>
				<li id="prebuy" class="left">
					<a href="buyfruit.html">
						<i></i>
						<span>选购</span>
					</a>
				</li>
				<li id="myorder" class="left">
					<a href="myorder.html">
						<i></i>
						<span>订单</span>
					</a>
				</li>
				<li id="shopbasket" class="left">
					<a href="basket.html">
						<i class="basket-number">
							<span class="type-total">2</span>
						</i>
						<span>购物篮</span>
					</a>
				</li>
			</ul>
		</div>
		<div class="clearfix"><!-- hotfix-点击a背景边框高亮偏移bug --></div>
	</div>
	<div class="index-bar">
		<div class="index-bar-btn left2"></div>
		定制你喜欢的水果
		<div class="index-bar-btn right2"></div>
	</div>
	<div class="selectfruit-favoritefruit-bar">
		<div class="selectfruit-favoritefruit-bar-icon"></div>
		<div class="selectfruit-favoritefruit-bar-text">水果习惯</div>
	</div>
	<div class="selectfruit-selectavoritefruit">
		<div class="selectfruit-selectavoritefruit-item" id="item1">
			<div class="selectfruit-selectavoritefruit-item-icon kiwifruit" id="item1-pic"></div>
			<div class="selectfruit-selectavoritefruit-item-text" id="item1-text">猕猴桃</div>
		</div>
		<div class="selectfruit-selectavoritefruit-item" id="item2">
			<div class="selectfruit-selectavoritefruit-item-icon orange" id="item2-pic"></div>
			<div class="selectfruit-selectavoritefruit-item-text" id="item2-text">橙子</div>
		</div>
		<div class="selectfruit-selectavoritefruit-item" id="item3">
			<div class="selectfruit-selectavoritefruit-item-icon hamimelon" id="item3-pic"></div>
			<div class="selectfruit-selectavoritefruit-item-text" id="item3-text">哈密瓜</div>
		</div>
		<div class="selectfruit-selectavoritefruit-item" id="item4">
			<div class="selectfruit-selectavoritefruit-item-icon mangosteen" id="item4-pic"></div>
			<div class="selectfruit-selectavoritefruit-item-text" id="item4-text">山竹</div>
		</div>
		<div class="selectfruit-selectavoritefruit-item" id="item5">
			<div class="selectfruit-selectavoritefruit-item-icon watermelon" id="item5-pic"></div>
			<div class="selectfruit-selectavoritefruit-item-text" id="item5-text">西瓜</div>
		</div>
		<div class="selectfruit-selectavoritefruit-item" id="item6">
			<div class="selectfruit-selectavoritefruit-item-icon dragonfruit" id="item6-pic"></div>
			<div class="selectfruit-selectavoritefruit-item-text" id="item6-text">火龙果</div>
		</div>
		<div class="selectfruit-selectavoritefruit-item" id="item7">
			<div class="selectfruit-selectavoritefruit-item-icon banana" id="item7-pic"></div>
			<div class="selectfruit-selectavoritefruit-item-text" id="item7-text">香蕉</div>
		</div>
		<div class="selectfruit-selectavoritefruit-item" id="item8">
			<div class="selectfruit-selectavoritefruit-item-icon apricot" id="item8-pic"></div>
			<div class="selectfruit-selectavoritefruit-item-text" id="item8-text">杏</div>
		</div>
		<div class="selectfruit-selectavoritefruit-item" id="item9">
			<div class="selectfruit-selectavoritefruit-item-icon apple" id="item9-pic"></div>
			<div class="selectfruit-selectavoritefruit-item-text" id="item9-text">苹果</div>
		</div>
		<div class="selectfruit-selectavoritefruit-item" id="item10">
			<div class="selectfruit-selectavoritefruit-item-icon mango" id="item10-pic"></div>
			<div class="selectfruit-selectavoritefruit-item-text" id="item10-text">芒果</div>
		</div>
		<div class="selectfruit-selectavoritefruit-item" id="item11">
			<div class="selectfruit-selectavoritefruit-item-icon peach" id="item11-pic"></div>
			<div class="selectfruit-selectavoritefruit-item-text" id="item11-text">桃</div>
		</div>
		<div class="selectfruit-selectavoritefruit-item" id="item12">
			<div class="selectfruit-selectavoritefruit-item-icon pineapple" id="item12-pic"></div>
			<div class="selectfruit-selectavoritefruit-item-text" id="item12-text">菠萝</div>
		</div>
	</div>
	<a href="" class="selectfruit-btn">完成习惯定制</a>
	<div class="selectfruit-blank"></div>
	<script src="js/jquery.min.js"></script>
	<script src="js/script.js"></script>
</body>
</html>