<!doctype html>
<html lang="en">
<head>
	<title>套餐</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,user-scalable=no" />
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/style.css?1">
</head>
<body>
	<div class="menu-wrap">
		<div class="menu">
			<ul>
				<li id="buyfruit" class="left active">
					<a href="index.html">
						<i></i>
						<span>首页</span>
					</a>
				</li>
				<li id="prebuy" class="left">
					<a href="buyfruit.html">
						<i></i>
						<span>选购</span>
					</a>
				</li>
				<li id="myorder" class="left">
					<a href="myorder.html">
						<i></i>
						<span>订单</span>
					</a>
				</li>
				<li id="shopbasket" class="left">
					<a href="basket.html">
						<i class="basket-number">
							<span class="type-total">2</span>
						</i>
						<span>购物篮</span>
					</a>
				</li>
			</ul>
		</div>
		<div class="clearfix"><!-- hotfix-点击a背景边框高亮偏移bug --></div>
	</div>
	<div class="index-bar">
		<div class="index-bar-btn left2"></div>
		套餐
		<div class="index-bar-btn right2"></div>
	</div>
	<div class="setmeal-item">
		<img class="setmeal-item-pic" src="./pic/fruit1.png"/>
		<div class="setmeal-item-pic-new">新</div>
		<div class="setmeal-item-right">
			<div class="setmeal-item-right-name" id="setmeal-item1-name">沁凉避暑1</div>
			<div class="setmeal-item-right-popularity">人气:90</div>
			<div class="setmeal-item-right-inf">详情：本西瓜瓤红脆口></div>
		</div>
		<div class="setmeal-item-inf-moneyandunit">
			<div class="setmeal-item-inf-money">9.2</div>
			<div class="setmeal-item-inf-unit">/份</div>
		</div>
		<div class="setmeal-item-inf-right" id="setmeal-item1">
			<div class="setmeal-item-inf-right-minus">-</div>
			<div class="setmeal-item-inf-right-number" id="setmeal-item1-number">0</div>
			<div class="setmeal-item-inf-right-add">+</div>
		</div>
	</div>
	<div class="setmeal-item-line"></div>
	<div class="setmeal-item">
		<img class="setmeal-item-pic" src="./pic/fruit1.png"/>
		<div class="setmeal-item-pic-old"></div>
		<div class="setmeal-item-right">
			<div class="setmeal-item-right-name" id="setmeal-item2-name">沁凉避暑2</div>
			<div class="setmeal-item-right-popularity">人气:90</div>
			<div class="setmeal-item-right-inf">详情：本西瓜瓤红脆口></div>
		</div>
		<div class="setmeal-item-inf-moneyandunit">
			<div class="setmeal-item-inf-money">9.2</div>
			<div class="setmeal-item-inf-unit">/份</div>
		</div>
		<div class="setmeal-item-inf-right" id="setmeal-item2">
			<div class="setmeal-item-inf-right-minus">-</div>
			<div class="setmeal-item-inf-right-number" id="setmeal-item2-number">0</div>
			<div class="setmeal-item-inf-right-add">+</div>
		</div>
	</div>
	<div class="selectfruit-blank"></div>
	<div class="privilege-bottom-bar">
		<div class="privilege-bottom-bar-text">
			已选：1  总计：¥ 9.2
		</div>
		<div class="privilege-bottom-bar-btn">
			选好了
		</div>
	</div>
	<script src="js/jquery.min.js"></script>
	<script src="js/script.js"></script>
</body>
</html>